* {
  margin: 0px;
}

a {
  text-decoration: unset;
}

.App {
  background-color:white;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.name-header {
  justify-content: left;
}

.App-link {
  color: #61dafb;
}

.Header {
  background-color: black;
  color: white;
  justify-content: center;
  text-decoration: none;
}

.navigation {
  text-decoration: none;
}

.navigation-link {
  display: inline;
  list-style-type: none;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
}

.fotis {
  height: auto;
  width: 100%;
}

.about {
  color: black;
  justify-content: center;
  padding: 20px;
}

.about-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flex-left {
  display: inline;
  padding-top: 20px;
  width: 55%;
}

.flex-right {
  display: inline;
  padding-top: 130px;
  width: 45%;
}

.about-paragraph {
  padding: 20px;
}

.about-picture {
  border-color: green;
  border-radius: 500px;
  border-style: solid;
  border-width: 5px;
  height: auto;
  margin: 10px 80px 50px 30px;
  max-width: 70%;
}

.contact-header {
  padding-top: 50px;
}

.contact-paragraph {
  padding-top: 50px;
  padding-bottom: 20px;
}

.contact-container {
  display: flex;
  justify-content: center;
}

.contact-flex-left {
  display: block;
  margin: 10px;
}

.contact-flex-right {
  display: block;
  margin: 10px;
}

.contact-form-label {
  display: block;
  margin: 10px;
}

.contact-form-input {
  display: block;
  margin: 10px;
}

.contact-submit {
  background-color: tan;
  color: black;
  margin: 20px;
  padding-top: 3px;
  padding-left: 20px;
  padding-bottom: 3px;
  padding-right: 20px;
}

.portfolio-heading {
  margin-top: 30px;
  margin-bottom: 30px;
}

.project {
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.portfolio-picture {
  height: auto;
  margin-bottom: 20px;
  width: 20%;
}

.project-page-link {
  margin-bottom: 20px;
}

.description {
  padding-left: 300px;
  margin-right: 300px;
  flex-wrap: wrap;
}

.resume-header-title {
  margin: 50px;
}