* {
  margin: 0px;
}

.App {
  background-color:white;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.name-header {
  justify-content: left;
}

.App-link {
  color: #61dafb;
}

.Header {
  background-color: black;
  color: white;
  justify-content: center;
}

.about {
  color: black;
  justify-content: center;
  padding: 20px;
}

.about-picture {
  padding: 10px;
}

.contact {
  align-items: center;
}

.contact-form {
  justify-content: center;
  padding: 20px;
}

.contact-form-label {
  display: inline-block;
  text-align: left;
  width: 100px;
}

.contact-form-input {
  width: 20%;
}

.contact-form-line {
  align-items: center;
  padding: 10px;
}

.project {
  align-content: space-between;
  align-items: center;
  border: 2px;
  border-color: black;
  border-style: solid;
  flex-direction: row;
  display: inline-block;
  justify-content: center;
  margin: 10px;
}

.project-title {
  padding: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
